<% provide(:title, @micropost.title) %>
<div class="center jumbotron top-jumbo jumbo-blue">
   <h1><%= @micropost.title %></h1>
   <div class="idea-content">      
    <h3><%= @micropost.content %></h3>
  </div>
  </div>
 
<div class="container">
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="follow micropost-follow">
        <%= render 'users/follow_form' if logged_in? %>
    </section>
    <% if @micropost.question_id != nil %>
    <section class="question-link">
      This idea was in response to a question. <a href="/questions/<%= @micropost.question_id %>">Take a look at the question here.</a>
    </section>
     <% end %>
  </aside>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <div class="vote-box">

        
         <h3>
             <span class="votes">
             <span id="votes-<%= @micropost.id %>" class="stat">
                <%= @micropost.votes.count %>
              </span>  
                <%=  "vote".pluralize(@micropost.votes.count) %>
              </span>
          </h3>
      

            <% if logged_in? %>
               <%= render :partial => 'microposts/vote_form', :locals => { :micropost_id => @micropost.id } if logged_in? %>
            <% else %>
              <a class="btn btn-default idea-btn" href="/users/new">Signup to vote for this idea</a>
            <% end %>

      </div>
      </div>
        

        <div class="col-md-4 vote-box">
              <h3>Share this idea</h3>
                <a class="btn btn-default idea-btn" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url  %>" target="_blank">Facebook</a><br />
                <a class="btn btn-default idea-btn" href="https://twitter.com/home?status=<%= @micropost.title %> <%= request.original_url  %>" target="_blank">Twitter</a>
         
      </div>

        <div class="col-md-4 vote-box">
         <h3>Fork this idea</h3>
           <% if logged_in? %>
             <a class="btn btn-default idea-btn" href="/microposts/new?content=<%=u @micropost.content %>&title=<%=u @micropost.title  %>">Fork & post</a>
              <% else %>
              <a class="btn btn-default idea-btn" href="/users/new">Signup to fork this idea</a>
            <% end %>
      </div>
    </div>
 <div class="row vote-row">
         <h3> How could this idea be achieved or improved?
    </h3>
          <section class="comments section">
            COMMENTS SECTION
          </section>
      </div>

  </div>
  </div>
</div>
</div>